body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #1F2937;
    padding: 0 208px 96px 208px;
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

li {

}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 32px;
}

.text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button {
    background-color: #3882F6;
    font-weight: bold;
    font-size: 18px;
    color: #F9FAF8;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color:#063888;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(122, 128, 138);
    flex: 1;
}
